.h-metadata-plot
  margin 0

  button.g-widget-metadata-plot-settings
    float none
    margin -2px 5px -2px 0
    font-size 13px
    padding 0 1px
    height 21px
    width 22px

  .js-plotly-plot .plotly .modebar-btn
    font-size 13px
    padding 1px 2px

  .h-metadata-plot-area.js-plotly-plot
    min-height 266px
    min-width 266px

#h-elementdata-panel
  th:not(:last-child)
    padding-right 5px
  td:not(:last-child)
    padding-right 5px
  .state-bar
    width 100px
    height 18px
    .state-bar-block
      height 100%
      display inline-block
    .state-bar-mode-reference
      background-color green
    .state-bar-mode-altered
      background-color purple
    .state-bar-mode-transitioning
      background-color yellow
    .state-bar-mode-cycling
      background-color blue
    .state-bar-mode-degenerative
      background-color red
